@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Source+Sans+Pro&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* variables */
:root {
  --ff-primary: 'Libre Baskerville', serif;
  --ff-secondary:'Source Sans Pro', sans-serif;

  --fw-regular: 400;
  --fw-bold: 900;

  --clr-light: whitesmoke;
  --clr-dark: #102a48;
  --clr-accent: #D36582;

  --fs-title: 2.5em;
  --fs-subtitle: 1.25em;
  --fs-body: 1em;
}

body {
  background-color: #102a48;
  min-width: 10em;
  max-width: 40em;
  width: 70vw;
  margin: auto;
}

/* ===HEADER=== */

h1 {
  color: var(--clr-light);
  font-family: var(--ff-primary);
  font-size: var(--fs-title);
  font-weight: var(--fw-bold);
  line-height: 1.5;
  margin: 0.5em 0 0 0;
  text-align: center;
}

p {
  color: var(--clr-light);
  font-family: var(--ff-secondary);
  font-size: var(--fs-subtitle);
  font-weight: var(--fw-regular);
  line-height: 1.1;
  margin: 0 0 1em 0;
  text-align: center;
}

/* ===SURVEY FORM=== */

form {
  background-color: var(--clr-light);
  border-radius: 2em;
  color: var(--clr-dark);
  font-family: var(--ff-secondary);
  font-size: var(--fs-body);
  padding: 1.5em;
}

label,
select {
  display: block;
  font-family: var(--ff-secondary);
  font-size: var(--fs-body);
  font-weight: var(--fw-regular);
  margin-bottom: 0.5em;
}

input {
  accent-color: var(--clr-accent);
}

.textbox {
  display: block;
  font-family: var(--ff-secondary);
  font-size: var(--fs-body);
  min-width: 12em;
  max-width: 15em;
  width: 25vw;
}

textarea.textbox {
  height: 6em;
  max-width: 33em;
  width: 60vw;
}

div {
  background-color: var(--clr-dark);
  margin: 1em 0;
  padding: 0.1em;
  width: inherit;
}

button {
  background-color: var(--clr-accent);
  border: none;
  border-radius: 1em;
  color: var(--clr-light);
  display: block;
  font-family: var(--ff-secondary);
  font-size: var(--fs-body);
  margin: 0 auto;
  padding: 0.2em;
  width: 5em;
}

button:hover {
  background-color: var(--clr-dark);
  color: var(--clr-light);
  transition: 0.5s;
}

button:active {
  background-color: var(--clr-dark);
  color: var(--clr-white);
  filter: blur(1px);
  transition: 0.2s;
}

#expansion-label {
  display: none;
}

#expansion-desc-label {
  display: none;
}